/* Light theme */
.light {
	--primary: rgb(132 15 22);
	--surface-tint: rgb(173 48 47);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(165 42 42);
	--on-primary-container: rgb(255 192 187);
	--secondary: rgb(67 42 30);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(92 64 51);
	--on-secondary-container: rgb(211 172 156);
	--tertiary: rgb(121 89 0);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(218 165 32);
	--on-tertiary-container: rgb(85 61 0);
	--error: rgb(151 68 0);
	--on-error: rgb(255 255 255);
	--error-container: rgb(187 88 8);
	--on-error-container: rgb(255 251 255);
	--background: rgb(255 248 247);
	--on-background: rgb(37 24 23);
	--surface: rgb(255 248 244);
	--on-surface: rgb(30 27 24);
	--surface-variant: rgb(240 223 216);
	--on-surface-variant: rgb(80 68 64);
	--outline: rgb(130 116 111);
	--outline-variant: rgb(212 195 189);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(51 48 45);
	--inverse-on-surface: rgb(247 239 234);
	--inverse-primary: rgb(255 179 173);
	--primary-fixed: rgb(255 218 215);
	--on-primary-fixed: rgb(65 0 4);
	--primary-fixed-dim: rgb(255 179 173);
	--on-primary-fixed-variant: rgb(140 23 27);
	--secondary-fixed: rgb(255 219 204);
	--on-secondary-fixed: rgb(44 22 11);
	--secondary-fixed-dim: rgb(230 190 173);
	--on-secondary-fixed-variant: rgb(92 64 51);
	--tertiary-fixed: rgb(255 222 160);
	--on-tertiary-fixed: rgb(38 25 0);
	--tertiary-fixed-dim: rgb(246 190 59);
	--on-tertiary-fixed-variant: rgb(92 67 0);
	--surface-dim: rgb(224 217 212);
	--surface-bright: rgb(255 248 244);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(250 242 237);
	--surface-container: rgb(244 237 231);
	--surface-container-high: rgb(238 231 226);
	--surface-container-highest: rgb(232 225 220);
}

/* Dark theme */
.dark {
	--primary: rgb(255 179 173);
	--surface-tint: rgb(255 179 173);
	--on-primary: rgb(104 0 10);
	--primary-container: rgb(165 42 42);
	--on-primary-container: rgb(255 192 187);
	--secondary: rgb(230 190 173);
	--on-secondary: rgb(67 42 31);
	--secondary-container: rgb(92 64 51);
	--on-secondary-container: rgb(211 172 156);
	--tertiary: rgb(249 192 61);
	--on-tertiary: rgb(64 45 0);
	--tertiary-container: rgb(218 165 32);
	--on-tertiary-container: rgb(85 61 0);
	--error: rgb(255 182 141);
	--on-error: rgb(83 34 0);
	--error-container: rgb(223 115 40);
	--on-error-container: rgb(56 21 0);
	--background: rgb(28 16 15);
	--on-background: rgb(245 221 219);
	--surface: rgb(21 19 16);
	--on-surface: rgb(232 225 220);
	--surface-variant: rgb(80 68 64);
	--on-surface-variant: rgb(212 195 189);
	--outline: rgb(156 142 136);
	--outline-variant: rgb(80 68 64);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(232 225 220);
	--inverse-on-surface: rgb(51 48 45);
	--inverse-primary: rgb(173 48 47);
	--primary-fixed: rgb(255 218 215);
	--on-primary-fixed: rgb(65 0 4);
	--primary-fixed-dim: rgb(255 179 173);
	--on-primary-fixed-variant: rgb(140 23 27);
	--secondary-fixed: rgb(255 219 204);
	--on-secondary-fixed: rgb(44 22 11);
	--secondary-fixed-dim: rgb(230 190 173);
	--on-secondary-fixed-variant: rgb(92 64 51);
	--tertiary-fixed: rgb(255 222 160);
	--on-tertiary-fixed: rgb(38 25 0);
	--tertiary-fixed-dim: rgb(246 190 59);
	--on-tertiary-fixed-variant: rgb(92 67 0);
	--surface-dim: rgb(21 19 16);
	--surface-bright: rgb(60 57 53);
	--surface-container-lowest: rgb(16 14 11);
	--surface-container-low: rgb(30 27 24);
	--surface-container: rgb(34 31 28);
	--surface-container-high: rgb(44 41 38);
	--surface-container-highest: rgb(55 52 49);
}

/* Light medium contrast theme */
.light-medium-contrast {
	--primary: rgb(115 0 12);
	--surface-tint: rgb(173 48 47);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(165 42 42);
	--on-primary-container: rgb(255 255 255);
	--secondary: rgb(67 42 30);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(92 64 51);
	--on-secondary-container: rgb(255 215 198);
	--tertiary: rgb(71 51 0);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(140 103 0);
	--on-tertiary-container: rgb(255 255 255);
	--error: rgb(92 39 0);
	--on-error: rgb(255 255 255);
	--error-container: rgb(177 81 0);
	--on-error-container: rgb(255 255 255);
	--background: rgb(255 248 247);
	--on-background: rgb(37 24 23);
	--surface: rgb(255 248 244);
	--on-surface: rgb(19 17 14);
	--surface-variant: rgb(240 223 216);
	--on-surface-variant: rgb(62 52 47);
	--outline: rgb(92 80 75);
	--outline-variant: rgb(119 106 101);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(51 48 45);
	--inverse-on-surface: rgb(247 239 234);
	--inverse-primary: rgb(255 179 173);
	--primary-fixed: rgb(193 63 60);
	--on-primary-fixed: rgb(255 255 255);
	--primary-fixed-dim: rgb(160 38 39);
	--on-primary-fixed-variant: rgb(255 255 255);
	--secondary-fixed: rgb(134 102 87);
	--on-secondary-fixed: rgb(255 255 255);
	--secondary-fixed-dim: rgb(108 78 64);
	--on-secondary-fixed-variant: rgb(255 255 255);
	--tertiary-fixed: rgb(140 103 0);
	--on-tertiary-fixed: rgb(255 255 255);
	--tertiary-fixed-dim: rgb(109 80 0);
	--on-tertiary-fixed-variant: rgb(255 255 255);
	--surface-dim: rgb(204 197 192);
	--surface-bright: rgb(255 248 244);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(250 242 237);
	--surface-container: rgb(238 231 226);
	--surface-container-high: rgb(226 220 215);
	--surface-container-highest: rgb(215 208 203);
}

/* Dark medium contrast theme */
.dark-medium-contrast {
	--primary: rgb(255 210 206);
	--surface-tint: rgb(255 179 173);
	--on-primary: rgb(84 0 6);
	--primary-container: rgb(241 97 92);
	--on-primary-container: rgb(0 0 0);
	--secondary: rgb(253 212 194);
	--on-secondary: rgb(55 32 21);
	--secondary-container: rgb(173 137 121);
	--on-secondary-container: rgb(0 0 0);
	--tertiary: rgb(255 215 135);
	--on-tertiary: rgb(50 35 0);
	--tertiary-container: rgb(218 165 32);
	--on-tertiary-container: rgb(47 32 0);
	--error: rgb(255 211 188);
	--on-error: rgb(66 26 0);
	--error-container: rgb(223 115 40);
	--on-error-container: rgb(0 0 0);
	--background: rgb(28 16 15);
	--on-background: rgb(245 221 219);
	--surface: rgb(21 19 16);
	--on-surface: rgb(255 255 255);
	--surface-variant: rgb(80 68 64);
	--on-surface-variant: rgb(234 217 210);
	--outline: rgb(190 175 168);
	--outline-variant: rgb(156 141 135);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(232 225 220);
	--inverse-on-surface: rgb(44 41 38);
	--inverse-primary: rgb(142 24 28);
	--primary-fixed: rgb(255 218 215);
	--on-primary-fixed: rgb(45 0 2);
	--primary-fixed-dim: rgb(255 179 173);
	--on-primary-fixed-variant: rgb(115 0 12);
	--secondary-fixed: rgb(255 219 204);
	--on-secondary-fixed: rgb(31 12 4);
	--secondary-fixed-dim: rgb(230 190 173);
	--on-secondary-fixed-variant: rgb(74 48 36);
	--tertiary-fixed: rgb(255 222 160);
	--on-tertiary-fixed: rgb(25 16 0);
	--tertiary-fixed-dim: rgb(246 190 59);
	--on-tertiary-fixed-variant: rgb(71 51 0);
	--surface-dim: rgb(21 19 16);
	--surface-bright: rgb(71 68 64);
	--surface-container-lowest: rgb(9 7 5);
	--surface-container-low: rgb(32 29 26);
	--surface-container: rgb(42 39 36);
	--surface-container-high: rgb(53 50 47);
	--surface-container-highest: rgb(64 61 58);
}

/* Light high contrast theme */
.light-high-contrast {
	--primary: rgb(96 0 8);
	--surface-tint: rgb(173 48 47);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(143 25 29);
	--on-primary-container: rgb(255 255 255);
	--secondary: rgb(63 38 27);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(92 64 51);
	--on-secondary-container: rgb(255 255 255);
	--tertiary: rgb(59 41 0);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(95 69 0);
	--on-tertiary-container: rgb(255 255 255);
	--error: rgb(76 31 0);
	--on-error: rgb(255 255 255);
	--error-container: rgb(121 53 0);
	--on-error-container: rgb(255 255 255);
	--background: rgb(255 248 247);
	--on-background: rgb(37 24 23);
	--surface: rgb(255 248 244);
	--on-surface: rgb(0 0 0);
	--surface-variant: rgb(240 223 216);
	--on-surface-variant: rgb(0 0 0);
	--outline: rgb(52 42 38);
	--outline-variant: rgb(82 71 66);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(51 48 45);
	--inverse-on-surface: rgb(255 255 255);
	--inverse-primary: rgb(255 179 173);
	--primary-fixed: rgb(143 25 29);
	--on-primary-fixed: rgb(255 255 255);
	--primary-fixed-dim: rgb(109 0 11);
	--on-primary-fixed-variant: rgb(255 255 255);
	--secondary-fixed: rgb(95 67 54);
	--on-secondary-fixed: rgb(255 255 255);
	--secondary-fixed-dim: rgb(70 45 33);
	--on-secondary-fixed-variant: rgb(255 255 255);
	--tertiary-fixed: rgb(95 69 0);
	--on-tertiary-fixed: rgb(255 255 255);
	--tertiary-fixed-dim: rgb(67 47 0);
	--on-tertiary-fixed-variant: rgb(255 255 255);
	--surface-dim: rgb(190 184 179);
	--surface-bright: rgb(255 248 244);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(247 239 234);
	--surface-container: rgb(232 225 220);
	--surface-container-high: rgb(218 211 206);
	--surface-container-highest: rgb(204 197 192);
}

/* Dark high contrast theme */
.dark-high-contrast {
	--primary: rgb(255 236 234);
	--surface-tint: rgb(255 179 173);
	--on-primary: rgb(0 0 0);
	--primary-container: rgb(255 174 167);
	--on-primary-container: rgb(34 0 1);
	--secondary: rgb(255 236 229);
	--on-secondary: rgb(0 0 0);
	--secondary-container: rgb(226 186 169);
	--on-secondary-container: rgb(24 7 1);
	--tertiary: rgb(255 238 210);
	--on-tertiary: rgb(0 0 0);
	--tertiary-container: rgb(242 186 55);
	--on-tertiary-container: rgb(17 10 0);
	--error: rgb(255 236 228);
	--on-error: rgb(0 0 0);
	--error-container: rgb(255 177 131);
	--on-error-container: rgb(25 6 0);
	--background: rgb(28 16 15);
	--on-background: rgb(245 221 219);
	--surface: rgb(21 19 16);
	--on-surface: rgb(255 255 255);
	--surface-variant: rgb(80 68 64);
	--on-surface-variant: rgb(255 255 255);
	--outline: rgb(254 236 229);
	--outline-variant: rgb(208 191 185);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(232 225 220);
	--inverse-on-surface: rgb(0 0 0);
	--inverse-primary: rgb(142 24 28);
	--primary-fixed: rgb(255 218 215);
	--on-primary-fixed: rgb(0 0 0);
	--primary-fixed-dim: rgb(255 179 173);
	--on-primary-fixed-variant: rgb(45 0 2);
	--secondary-fixed: rgb(255 219 204);
	--on-secondary-fixed: rgb(0 0 0);
	--secondary-fixed-dim: rgb(230 190 173);
	--on-secondary-fixed-variant: rgb(31 12 4);
	--tertiary-fixed: rgb(255 222 160);
	--on-tertiary-fixed: rgb(0 0 0);
	--tertiary-fixed-dim: rgb(246 190 59);
	--on-tertiary-fixed-variant: rgb(25 16 0);
	--surface-dim: rgb(21 19 16);
	--surface-bright: rgb(83 79 76);
	--surface-container-lowest: rgb(0 0 0);
	--surface-container-low: rgb(34 31 28);
	--surface-container: rgb(51 48 45);
	--surface-container-high: rgb(62 59 55);
	--surface-container-highest: rgb(74 70 67);
}
